

/* Table of Content
==================================================
	#Imports
	#Variables
	#Reset
	#Basic Styles
	#Images
	#Buttons
	#Tabs
	#Forms
	#Misc */


/* COMPASS IMPORTS
================================================= */
@import "compass/css3";

/* VARIABLES
================================================= */
$purple: #2f1d35;
$orange: #e86125;
$light_purple: #998da8;
$grey: #ebebeb;
$divider_line: #d8d8d8;

/*

Provide variables for all colors and fonts. Examples:

$red: #E31B23;
$minion:"minion-pro";

*/


/* #Basic Styles
================================================== */
body {
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
 }

.hide{ display: none; }

/* #Buttons
================================================== */


/* #Forms
================================================== */

input[type="text"],input[type="email"],textarea{
	  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="password"]{}
input[type="search"]{}

input[type="number"]{}
input[type="submit"]{
	-webkit-appearance: none;
	background: $orange !important;
	border: none !important;
	border-radius: 4px !important;
	-webkit-border-radius: 4px !important;

	color: white !important;
	text-transform: uppercase !important;
	font-size: 13px !important;
	font-weight: bold !important;
	padding: 7px 20px !important;
}

input[type="submit"]:hover{
	@include opacity(0.7);
	cursor: pointer;
}



/* #Forms
================================================== */


/* #Images
================================================== */

img {
	max-width: 100%;
	height: auto; }

/* WordPress Image Styles
   ========================================================================== */

.alignnone {margin:5px 20px 20px 0;}
.aligncenter,div.aligncenter {display:block;margin:5px auto 5px auto;}
.alignright {float:right;margin:5px 0 20px 20px;}
.alignleft {float:left;margin:5px 20px 20px 0;}
.aligncenter {display:block;margin:5px auto 5px auto;}
a img.alignright {float:right;margin:5px 0 20px 20px;}
a img.alignnone {margin:5px 20px 20px 0;}
a img.alignleft {float:left;margin:5px 20px 20px 0;}
a img.aligncenter {display:block;margin-left:auto;margin-right:auto;}
.wp-caption {background:#FFF;max-width:96%;padding:5px 3px 10px;text-align:center;}
.wp-caption.alignnone {margin:5px 20px 20px 0;}
.wp-caption.alignleft {margin:5px 20px 20px 0;}
.wp-caption.alignright {margin:5px 0 20px 20px;}
.wp-caption img {border:0 none;height:auto;margin:0;max-width:98.5%;padding:0;width:auto;}
.wp-caption p.wp-caption-text,.gallery-caption {font-size:11px;line-height:17px;margin:0;padding:0 4px 5px;}
.sticky {}
.bypostauthor {}
	.add-bottom { margin-bottom: 20px !important; }
