
/* Table of Content
================================================== */

.hide{
	display:none;
}

input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill{
	background-color:white !important;
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

input:focus,
textarea:focus,
select:focus{
	outline:none;
}

input{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}

input:focus{
	//background: #eee !important;
}

/* Header Styles
================================================== */
header{
	background-color: $purple;

	width: 100%;
	padding: 30px 0 0px 0;

	.navigation{
		padding-bottom: 10px;
		ul{
			list-style-type: none;
			margin: 0; padding: 0;
			@include breakpoint(portrait){
				padding-top: 20px;
			}


			li{
				text-transform: uppercase;
				float: left;
				display: inline-block;
				width: 122px;
				padding: 15px 15px 0 0;
				font-weight: 900;

				font-size: 14px; line-height: 18px;
				@include breakpoint(smallscreen){
					width: 103px;
					padding-right: 6px;
					padding-top:0;
				}

				@include breakpoint(landscape){
					width: 110px;
					padding-right: 5px;
				}
				@include breakpoint(portrait){
					width: 90%;
					text-align: center;
				}

				&:nth-child(1){
					width: 175px;
					text-align: left;
					padding-top: 14px;
					@include breakpoint(smallscreen){
						width: 100px;
						padding-top:0;
					}
					@include breakpoint(landscape){
						width: 110px;
					}
					@include breakpoint(portrait){
						width: 90%;
						text-align: center;
						padding: 32px 20px 0 0;
					}

				}
				&:last-child{
					width: 75px;
					text-align: left;
					padding-top: 14px;
					padding-right: 0px;
					height: 40px;
					@include breakpoint(smallscreen){
						width: 75px;padding-right: 0px;
						padding-top:0;
					}
					@include breakpoint(landscape){
						width: 75px;padding-right: 0px;
					}
					@include breakpoint(portrait){
						width: 90%;
						text-align: center;
						padding: 14px 0px 0 0;
						height: 100%;
					}

				}

				a{
					color: white;
					cursor: pointer;
				}
				&#menu-item-238,&#menu-item-92{
					padding-top: 14px;
					text-align: left;
					@include breakpoint(smallscreen){
						padding-top: 28px;
					}
					@include breakpoint(landscape){
						padding-top: 28px;
					}
					@include breakpoint(portrait){
						width: 90%;
						text-align: center;
						padding: 32px 20px 0 0;
					}
					& a:hover{
						@include opacity(1);
						cursor: default;
					}
				}
				&.current_page_item,&.current-menu-item,&.current-menu-parent{
					a{
						color: $orange;
					}
				}
			}
		}
		img#menu-arrow{
			margin-left: 230px;
			@include breakpoint(smallscreen){
				margin-left: 38px;
			}
			@include breakpoint(landscape){
				margin-left: 38px;
			}
			@include breakpoint(portrait){
				margin-left: 260px;
				top: -85px;
				position: relative;

			}
		}
	}
	.pushdown{
		display: none;
		width: 100%;
		background-color: white;
		height: 100px;
		box-shadow:
        	inset 0px 11px 8px -10px #CCC,
        	inset 0px -11px 8px -10px #CCC;
		font-size: 14px;
		line-height: 18px;
		@include breakpoint(smallscreen){
			height: 140px;
		}
		@include breakpoint(landscape){
			height: 300px;
		}
		@include breakpoint(portrait){
			height: 330px;
		}



		.pushdown-callout{

			color: $light_purple;
			font-style: italic;
			padding: 20px 80px 0 0;
		}
		.pushdown-item{
			padding-top: 20px;

			a{

				font-weight: 900;
				text-transform: uppercase;

				&:after{
					content: url('assets/img/right-arrow-orange.png');
					position: relative;
					top: 2px;
					left: 18px;
				}

			}
		}
		.pushdown-location{
			display: block;
			color: $orange;
		}

	}

	.show{display:block}
}


/* Homepage Styles
================================================== */

.banner{
	height: 500px;
	width: 100%;
	background-color: $orange;
	@include breakpoint(landscape){
		height: auto;
	}
	@include breakpoint(portrait){
		height: auto;
	}
}

.home-callout{
	padding: 50px 30px 40px 0;

	@include breakpoint(smallscreen){
		font-size: 44px;
		line-height: 52px;
		padding: 30px 10px 20px 0;
	}
	@include breakpoint(landscape){
		font-size: 30px;
		line-height: 40px;
		padding: 30px 10px 20px 0;
	}
	@include breakpoint(portrait){
		font-size: 30px;
		line-height: 40px;
		padding: 30px 10px 20px 0;
	}



}
#home-arrow:hover{
	@include opacity(0.7);
	cursor: pointer;
}

.home-img{
	padding: 0; margin: 0;
	margin-bottom: 0px;

	@include breakpoint(portrait){
		width: 100% !important;
 	}
 	@include breakpoint(landscape){
		width: 100% !important;
 	}

	img{
 		max-width: none !important;
 		height: 500px;

 		@include breakpoint(smallscreen){
			padding: 0px 0px 0px 0;
			overflow: hidden
		}
		@include breakpoint(landscape){
 			padding: 30px 0px 0px 0;
 			width: 100% !important;
 			height: auto;
 			width: 768px !important;
		  	height: auto;
		  	margin-bottom: 0px;
		  	left: -170px;
		  	position: relative;
		  	top: 5px;
		}
		@include breakpoint(portrait){
		  padding: 30px 0px 0px 0;
		  width: 480px !important;
		  height: auto;
		  margin-bottom: 0px;
		  left: -85px;
		  position: relative;
		  top: 5px;
		}
	}


}

.content-callouts{
	width: 100%;
	background-color: white;
	margin: 0px 0 20px 0;

	.content-item{
		h1{
			color: $purple; padding-bottom: 30px;
			@include breakpoint(portrait){
				font-size: 40px;
				line-height: 52px;
			}
		}
		margin:70px 0 100px 0;
		font-weight: bold;
	}

	a.content-read-more{
		font-weight: 400;
		font-size: 13px;
		strong{
			font-weight: 900;
			text-transform: uppercase;

		}
		&:after{
				content: url('assets/img/right-arrow-orange.png');
				position: relative;
				top: 2px;
				left: 15px;
			}
	}

	.home-gears{
		@include breakpoint(smallscreen){
			width: 380px !important;
  			margin-left: 90px;
		}
	}

	.weights{
		@include breakpoint(portrait){
			margin-top: 30px;
		}
	}


}

.resources-panel{
	width: 100%;
	background-color: $purple;
	padding: 0;
	position: relative;

	.resource-header{
		color: white;
		text-align: center;
		padding: 20px 0 0px 0;

		@include breakpoint(landscape){
			padding: 20px 0 20px 0;
		}
		@include breakpoint(portrait){
			padding: 20px 0 20px 0;
		}
		a:hover{
			@include opacity(1);
		}
		&:hover{
			@include opacity(.8);
			cursor: pointer;
		}
	}
	.resource-footer{
		color: white;
		text-align: center;
		padding: 30px 0 30px 0;
		font-size: 13px;
		a{
			color: white;
			&:hover{
				color: $orange;

			}
		}
	}


	.resource-v{

		width: 50px;
		height: 17px;
		margin: 0 auto;
		position: relative;
		top: 0px;

		a#resource-x{
			position: relative;
			top: 7px;
			left: 5px;
			z-index: 100;

		}
		.resourcearrow{
			background: url('assets/img/down-arrow-orange.png') no-repeat;
			width: 32px;
			height: 15px;
		}
		.arrowx{
			background: url('assets/img/orange-x.png') no-repeat;
			width: 32px;
			height: 15px;
		}
	}
	.top-fix{
		top: 0px;
	}

}

#resource-hidden{
	display: none;
}


.resource-item{
	margin-top: 30px;
	margin-bottom: 10px;
	height: 240px;
	@include breakpoint(smallscreen){
		height: 275px;
	}
	&:hover{
			@include opacity(0.7);
		}
	img{
		margin-bottom: 10px;

	}
	a{
		font-size: 12px;
		line-height: 16px;
		text-transform: uppercase;
		font-weight: 900;

		img.rt-arrow{
			display: inline-block;
			margin: 0;
			padding: 0;
			position: relative;
			top: 3px;
			left: 10px;
		}

		/*
		&:after{
			content: url('assets/img/right-arrow-orange.png');
			position: relative;
			top: 4px;
			left: 15px;
		}
		*/


	}
}

.resource-item-left{
	display:inline-block;
	float: left;
	margin: 0; padding:0;
	width: 80%;
	 word-wrap: break-word;

}
.resource-item-right{
	display:inline-block;
	float: left;
	margin: 0; padding:0;
	width: 20%;

}

.mr-resource-listing,
.discussion-listing{
	position:relative;
	min-height:300px;
	.header{
		text-transform:uppercase;
		font-weight:bold;
		margin-bottom:40px;
	}
	.member-resource-item,
	.discussion-item{
		//height:140px;
		border-bottom: 1px solid $divider_line;
		padding-bottom:10px;
		margin-bottom:10px;

		.row{
			margin:0;
		}
		.the-title{
			overflow:hidden;
			white-space:nowrap;
			position:relative;
			font-weight:bold;
			&.overflow{
				&:after{
					content:"...";
					background:white;
					position:absolute;
					right:0;
					top:0;
					bottom:0;
					color:$orange;
					padding:0 5px 0 5px;
					height:100%;
				}
			}
		}
	}
}

@media only screen and (max-width:768px){
	.mr-resource-listing,
	.discusion-listing{
		.header{
			display:none;
		}
	}
}

.search-filter{
	float:right;

	label{
		font-weight:bold;
		text-transform:uppercase;
	}
	input[type='search']{
		background-color:white;
		border:transparent;
		border-bottom:2px solid black;
		// padding:10px 0;
		width:250px;
		//background-image:url('assets/img/search.png');
		//background-repeat:no-repeat;
		//background-position:95% center;
		font-size:16px;
		position:relative;

			//For animation on focus of 
			&:after{
				// content:'';
				// background-color:black;
				// position:absolute;
				// width:100%;
				// height:2px;
		}
	}
}

//For animating :focus events on inputs.
// .signup,
// .login
//.search-fliter{
	// .input-active{
	// 	position:relative;

	// 	input:focus{

	// 	}

	// 	&:after{
	// 		content:'';
	// 		background-color:black;
	// 		position:absolute;
	// 		width:100%;
	// 		height:2px;
	// 		bottom:0;
	// 		right:0
	// 		}
	// }

	// .input-active input:focus{
	// 	&:after{
	// 		height:100%;
	// 	}
	// }
//}
.purple_text{
	color: $purple;
}

.partnerships-panel{
	width: 100%;
	background-color: $orange;
	padding: 50px 0 50px 0;

	.partnerships-header{
		h2{color:white;}
		text-align: center;
		padding: 0px 0 40px 0;
	}
	.partnership-image{
		height: 140px;
		margin-bottom: 20px;
		text-align: center;
		@include breakpoint(landscape){
			padding-top: 40px;
		}
		@include breakpoint(portrait){
			padding-top: 40px;
		}
	}
	.partnership-title{
		h3{
			font-size:16px;
			line-height: 20px;
			font-weight: 900;
			margin-bottom: 14px;
		}
	}

	.partnership-link a{
		font-size: 12px;
		color: white;
		text-transform: uppercase;
		font-weight: 900;
		&:after{
			content: url('assets/img/right-arrow.png');
			position: relative;
			top: 3px;
			left: 10px;
		}
	}


}

/* PAGE Styles
================================================== */

.page-header{
	background: url('assets/img/header-bg.png');
	height: 70px;
	width: 100%;
	.page-title{
		padding-top:20px;
		h1{
			font-size: 18px;
			line-height: 30px;
			font-weight: 900;
			text-transform: uppercase;
			color: $orange;
			@include breakpoint(portrait){
				line-height: 23px;
			}

		}
		@include breakpoint(portrait){
			padding-top: 10px;
		}
	}
}

.sidebar{
	margin-bottom: 20px;
	h2{
		@include breakpoint(smallscreen){
			font-size: 40px;
			line-height: 50px;
		}
		@include breakpoint(landscape){
			font-size: 30px;
			line-height: 40px;
		}
		@include breakpoint(portrait){
			font-size: 30px;
			line-height: 40px;
		}
	}
}



.page-banner{
	width:100%;
	background-color: $orange;
	padding: 30px 0 30px 0;

	.page-banner-callout{
		@include breakpoint(landscape){
 			margin-bottom:20px;
		}
		@include breakpoint(portrait){
 			margin-bottom:20px;
		}
	}

	.page-banner-text{
		color: white;

	}
}

.main-content{
	margin-top: 35px;

	.page-content{
		margin:0 0 50px 0;
	}

}

.orange-bar{
	width: 100%;
	height: 30px;
	background-color: $orange;
}

/* PANEL Styles
================================================== */
.panel{
	width: 100%;

	&.page-content{
		margin:30px 0 40px 0;
	}

}

.subheader{
	margin-bottom:20px;
}

.image-panel{
	height: 400px;
	@include background-size(cover);
	@include breakpoint(portrait){
		height: 200px;
	}
}






/* #Resource Styles
================================================== */
.intro-text{
	//width:50%;
	//margin-bottom:30px;

	p{
		margin:0;
		// max-width:60%;
	}

	.note{
		margin-top:20px;
	}
	@include breakpoint(tablet){
		width:100%;
	}
}

.page-title-inner{
	margin-top:50px;
	margin-bottom:30px;
}

.filters{
	width:100%;
	background-color: $orange;
	padding: 30px 0 30px 0;
}
.filter-header{
	h3{
		font-size: 14px; margin-bottom:15px; text-transform: none;
	}
}

.filter-row{
	padding-bottom:30px;
	text-align: center;

	a{
		color: white;
		font-size: 14px; line-height: 18px;
		text-transform: uppercase;
		font-weight: 900;
		width: 140px;
		display: inline;
		height: 110px;
		float: left;
		padding: 10px 10px 10px 10px;
		&:nth-child(1){
			padding-left:0;
		}
		&.active{
			color:$purple;
		}
		.img-cont{
			height: 60px;
			display: inline-block;
		}

		@include breakpoint(smallscreen){
			 width: 110px;
		}
		@include breakpoint(landscape){
	 		 width: 110px;
		}
		@include breakpoint(portrait){
	 		 width: 100px;
	 		 padding: 5px;
		}

	}
	
}

.mr-filters,
.d-filters{
	margin-bottom:20px;
	margin-top:40px;
	.reset{
			display:inline-block;
			color:$orange;
			font-weight: bold;
			text-transform:uppercase;
			cursor:pointer;
		}

	.label{
		display:inline-block;
		text-transform: uppercase;
		font-weight:bold;
		margin-right:30px;
	}

	[class*="-filter"],
	{
		display:inline-block;
		position:relative;


		.initial{
			color:$orange;
			text-transform: uppercase;
			font-weight: bold;

			img{
				width:20px;
				height:auto;
			}
		}
		
		p{
			display:inline-block;
		}
		ul{
			//position:absolute;
			display:inline-block;
			margin-right:30px;
			margin-left:0;
			&:hover{
				background-color:$grey;

				li:not(.selected){
					display:block;
					//position:absolute;
					z-index:1000;

					// &:after{
					// 	content:"";
					// 	display:table;
					// 	position:relative;
					// }
				}

				.filter-sub{
					left:0;
				}
			}
			li{
				list-style:none;
				cursor:pointer;
				color:$purple;
				//display:none;
				text-transform:uppercase;
				font-weight:bold;
				position:relative;

				span.text{
					margin-right:10px;
				}

				&:hover,
				&:active,
				&:focus{
					color:$orange;
				}

				
			}

			.filter-sub{
				// display:none;
				margin:0;
				padding:10px;
				position:absolute;
				left:-99999px;
				z-index:1000;
				height:200px;
				overflow:auto;
				width:200px;
				background-color:$grey;

				.selected{
					color:$orange;
					font-weight:bold;
					display:block;
				}
			}
		}
	}
}

.filtered{
	margin-bottom:60px;
	*{
		display:inline-block;
	}
	.filtered-title{
		text-transform:uppercase;
		font-weight:bold;
		padding-right:20px;
	}
	.topic-filtered,
	.type-filtered{
		padding-right:15px;
		font-weight:bold;

		span{
			text-transform:uppercase;
			font-weight:bold;
			color:$orange;
			margin-left:15px;
		}
	}
	.reset{
			display:inline-block;
			color:$orange;
			font-weight: bold;
			text-transform:uppercase;
			cursor:pointer;
			float:right;
		}
}

.btn{
	// border:1px solid #888888;
	// padding:5px;
	// background:$grey;
}

.member-resource-item{

	.m-topic,
	.c-type{
		text-transform:uppercase;
	}
}

.quicklinks{
	margin-top:70px;
	margin-bottom:30px;
	h2{
		margin-bottom: 20px;
	    font-size: 16px;
	    font-weight: bold;
	    text-transform: uppercase;
	}
	a{
		font-size: 16px;
		line-height: 30px;
		font-weight: 900;
		text-transform: uppercase;
		color: $orange;

		img{
			display:inline;
			vertical-align: -1px;
			padding-left:10px;
		}
	}
}
.resource-listing{
	margin-bottom: 50px;
}

.resource-item{
	margin-top: 30px;
	.resource-img{
		height: 100px;
		text-align: center;
		img{
 			max-height: 90px;
		}
		.external{
			width: 24px;
			height: 24px;
			position: relative;
			top: 2px;
			left:100px;
		}

		@include breakpoint(landscape){
	 		text-align: left;
		}
		@include breakpoint(portrait){
	 		text-align: left;
		}

	}


}

.resource-listing-header{
	margin-top:15px; font-size: 14px;
	h3{
		font-size: 14px;  text-transform: none;
	}
	span#filter{
		text-transform: uppercase;
	}
	.right{
		text-align: right;
		font-weight:bold;
		&:after{
			content: url('assets/img/right-arrow-orange.png');
			position: relative;
			top: 3px;
			left: 5px;
		}

	}
}


.loader-container{
	width:100%;
	text-align:center;
	position:absolute;
	width:100%;
	height:300px;
	display:table;

	.loader{
		margin:0 auto;
		display:table-cell;
		vertical-align: middle;
		height:300px;
		//transform:rotate(360deg);
	}
}


.loader-animate{
  animation: animationLoader linear 4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: animationLoader linear 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationLoader linear 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationLoader linear 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationLoader linear 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes animationLoader{
  0% {
    transform:  rotate(0deg) ;
  }
  100% {
    transform:  rotate(360deg) ;
  }
}

@-moz-keyframes animationLoader{
  0% {
    -moz-transform:  rotate(0deg) ;
  }
  100% {
    -moz-transform:  rotate(360deg) ;
  }
}

@-webkit-keyframes animationLoader {
  0% {
    -webkit-transform:  rotate(0deg) ;
  }
  100% {
    -webkit-transform:  rotate(360deg) ;
  }
}

@-o-keyframes animationLoader {
  0% {
    -o-transform:  rotate(0deg) ;
  }
  100% {
    -o-transform:  rotate(360deg) ;
  }
}

@-ms-keyframes animationLoader {
  0% {
    -ms-transform:  rotate(0deg) ;
  }
  100% {
    -ms-transform:  rotate(360deg) ;
  }
}


/* Signup/Start a Discussion styles
================================================== */

.signup,
.start-discussion,
.membership-form{
	margin:60px 0;

		div[id^="frm_field_"]{
			margin-bottom:20px;
		}

		label{
			text-transform:uppercase;
			font-weight:900;
			vertical-align: bottom;
		}

		label,
		input{
			display:inline-block;
		}

		input{
			font-size:16px;
			box-shadow:none !important;
		}


		input[type="text"],
		input[type="password"],
		input[type="email"],
		input[type='tel']{
			background:none;
			border:none;
			border-bottom:2px solid black;
			border-radius:0;
			width:400px;
			//margin-bottom:20px;
			//width:100%;
			//border:none;

		}

		input[type="password"]{
			font-size:16px;
			padding:.5em 0;
		}

		textarea{
			margin-top:20px;
			font-size:16px;
		}

		select{
			width: 200px; //115%;
			font-family: 'Lato', sans-serif; 
		    background-color: transparent;
		    background-image: url('assets/img/down-arrow-orange.png');
		    background-repeat:no-repeat;
		    background-position: right 75%;
		    background-size:10%;
		    border:none;
		    border-bottom:2px solid black;
		    box-shadow: none;
		    padding: 10px 0.5em;
		    -webkit-appearance: none;
		    -moz-appearance: none;
		    appearance: none;
		    border-radius: 0px;
		    padding-bottom: 0;
		    padding-left: 0;
		    text-transform: uppercase;
		    font-size:16px;
		    font-weight:800;
		    padding: .5em .6em 0 .6em;
		    color:$orange;

		    option{
		    	background:$grey;
		    	border-radius:0;

		    	&:checked{
		    		color:$orange;
		    		font-weight:800;
		    	}
		    }
		}

		.frm_submit{
			//text-align:right;
		}

		.frm_primary_label + .frm_opt_container{
			display:inline;
		}

		input[type="submit"]{
			background:none !important;
			padding:0 !important;
			padding-right:20px !important;
			color:$orange !important;
			font-weight:900 !important;
			background-image:url('assets/img/right-arrow-orange.png') !important;
			background-repeat:no-repeat !important;
			background-position:100%center !important;
			font-size:16px !important;
			margin-top:20px;

			&:hover
			&:active,
			&:focus{
				opacity:.7;
			}
		}

		.address{
			label{
				vertical-align: top;
				padding-top: 21px;
			}
			.address-fields{
				display:inline-block;
			}

		}
		

		.big-text{
			label{
				display:block;
				width:auto;
			}
			textarea{
				width:100%;
			}
		}

		.inline-field{
			display:inline;
			vertical-align: top;
			padding-right:20px;
		}

		.frm_ajax_loading{
			display:none;
		}
}


@media only screen and (max-width:768px){
	.signup,
	.start-discussion,
	.membership-form{
		input,
		label{
			display:block;
		}

		input[type="text"],
		input[type="password"],
		input[type="email"],
		input[type='tel']{
			width:300px;
		}

		.addres{
			label{
				vertical-align: top;
				padding-top: 21px;
			}
			.address-fields{
				display:block;
			}

		}
	}
}
.start-discussion{
	.frm_primary_label + .frm_opt_container{
		display:inline-block;
		padding-top:.5em;
		vertical-align: bottom;
	}
}

.signup{
	label{
		width:150px;
	}
}

.membership-form{
	label{
		width:200px;
	}
}

.frm_hidden{
	display:none;
}

.frm_error_style{
	font-size:16px;
	color:red;
	padding:.5em 0;
	font-weight:800px;
}

.frm_error{
	font-size:16px;
	color:red;
	padding:.5em 0;
}

.frm_blank_field{
	 input,
	 textarea{
	 	border:1px solid red !important;
	 }
}

.frm_section_heading h3{
	margin:20px 0 10px 0;
	color:$orange
}

/* Community Login styles
================================================== */
.intro{
	.intro-text{
		//margin-bottom:60px;
	}
}

.community-login,
.signup{
	margin:60px 0;

	.login-remember{
			display:none;
		}

	.login-username,
	.login-password{
			line-height:1;
			margin:0 0 0 0;
		}

	.login-password{
		margin-bottom:20px;
		label{
			vertical-align:bottom;
		}
	}
	[class^="login-"]{
		label{
			text-transform:uppercase;
			font-weight:900;
			width:150px;
		}

		label,
		input{
			display:inline-block;
		}

		input[type="text"],
		input[type="password"]{
			background:none;
			border:none;
			border-bottom:2px solid black;
			border-radius:0;
			width:400px;
			margin-bottom:20px;
			font-size:16px;
			box-shadow:none;
			//width:100%;
			//border:none;

		}

		input[type="password"]{
			padding:.5em 0;
			margin-bottom:0;
		}

		

		#c-submit{
			background:none !important;
			padding:0 !important;
			padding-right:20px !important;
			color:$orange !important;
			font-weight:900 !important;
			background-image:url('assets/img/right-arrow-orange.png') !important;
			background-repeat:no-repeat !important;
			background-position:right center !important;
			font-size:16px !important;
			margin-top:20px;

			&:hover
			&:active,
			&:focus{
				opacity:.7;
			}
		}
	}
}

.single-discussion{

	.topic,
	.date{
		&.row{
			margin-bottom:15px;
		}
	}

	.post-author{
		&.row{
			margin-bottom:0;
		}
		p{
			margin-bottom:5px;
			line-height:1;
		}
	}

	.d-info{
		margin-bottom:60px;
	}
	.label{
		text-transform:uppercase;
		font-weight:800 !important;

	}

	.author-info{
		//line-height:1.5;
	}

	.topic{
		.result{
			color:$orange;
			font-weight:800;
			text-transform:uppercase;

		}
	}
}

/* Community Dashboard
================================================== */

.dashboard{
	margin-top:50px;
	margin-bottom:50px;

	.ld{
		.the-title{
			text-transform:none;
		}
	}

	.page-title-inner{
		margin-bottom:40px;
		margin-top:0;

	}

	.the-title{
		text-transform:uppercase;
		color:$orange;
		font-weight:800 !important;
		position:relative;
		&.overflow{
				&:after{
					content:"...";
					background:white;
					position:absolute;
					right:0;
					top:0;
					bottom:0;
					color:$orange;
					padding:0 5px 0 5px;
					height:100%;
				}
			}
	}

	.title{
		text-transform:uppercase;
		font-weight:800;
		font-size:16px;
		margin-bottom:20px;
	}

	.list-item{
		border-bottom:1px solid $divider_line;
		padding-bottom:10px;
		margin-bottom:10px;
	}

	.more{
		span{
			font-weight:800;
		}
	}
}

.more{

	color:$orange;

	img{
		display:inline;
		vertical-align:-1px;
		padding-left:10px;
	}

	&.top{
		margin-top:15px;
	}
		span{
			font-weight:800;
			text-transform:uppercase;
		}


}

.identification{
	color:white;

	.the-row{
		margin-bottom:10px;

		div{
			display:inline-block;
		}

		.label{
			text-transform:uppercase;
			font-weight:800;
			//width:25%;
			width:25%;
		}
	}
	

	
}

/* Login bar
================================================== */
.login-bar{
	text-align:right;
	font-size:11px;
	p{
		margin:0;
		padding:5px 30px 5px 0;
	}
	a{
		text-transform:uppercase;
	}
}

@media only screen and (max-width:500px){
	.login-bar{
		span{
			display:block;
			width:100%;
		}
	}
}

/*Comments*/
/*Comment Output*/

.commentlist .reply {margin-right:30px;}

.comment-reply-link{
	padding-left:20px;
	background-image:url('assets/img/reply-btn.png');
	background-repeat:no-repeat;
	background-position:0 center;
	margin-bottom:10px;
}

.comments{
	.comments-title{
		border-bottom: 1px solid $divider_line;
		padding-bottom:5px;
	}

	.logged-in-as{
	display:none;
	}

	#reply-title{
		display:none;
	}
}



.comment{
	margin:15px 0;
	border-bottom:1px solid $divider_line;
	
	.comment{
		border-bottom:none;
	}

	.comment-content{
		margin-bottom:10px;
	}
	
	.says{
		display:none;
	}

	.fn{
		font-size:16px;
		font-weight:800;
	}
	.comment-meta{
		float:left;
		a{
			color:$purple;
		}
	}

	.reply{
		border-bottom:1px solid $divider_line;
		padding-bottom:10px;
	}

	.odd{
		margin-left:60px;
	}
}

@media only screen and (max-width:500px){
	.comment{
		.odd{
			margin-left:20px;
		}
	}
}

#respond{
	.comment-form-comment{
		label{

		}

		#comment{
			margin-top:10px;
			width:100%;
			height:300px;
		}
	}

	.form-submit{
		input[type="submit"]{
			background-color:transparent !important;
			color:$orange !important;
			padding-right:20px !important;
			padding-left:0 !important;
			background-image:url('assets/img/right-arrow-orange.png') !important;
			background-repeat: no-repeat !important;
			background-position: 95% center !important;
			font-size:16px !important;
		}
	}
}

.comment-column-meta{
	width:20%;
	float: left;
 	display: inline;
 	margin-right:2%;
}

.comment-column-content{
	width:73%;
	float: left;
 	display: inline;
 	//margin-left:2%;
}

@media only screen and (max-width:500px){
	.comment-column-content{
		margin-left:2%;
	}
}

.comment-column-content,
.comment-column-meta{
	&:after{
		content:' ';
		display:table;
	}
}

.avatar{
	display:none;
}

#cancel-comment-reply {}
#cancel-comment-reply a {}


/* FOOTER Styles
================================================== */
footer{
	font-size: 12px;
	line-height: 17px;
}

.footer-top{
	width: 100%;
	//height: 140px;
	background-color: $purple;
	padding:30px 0;

	.footer-links{
		//padding-top: 30px;
		ul{
			margin: 0;
			padding: 0;
			li{
				list-style-type: none;
				a{
					font-weight: 900;
					text-transform: uppercase;
					color: white;
					margin-bottom: 4px;
					display: block;
					&:after{
						content: url('assets/img/right-arrow.png');
						position: relative;
						top: 3px;
						left: 15px;
					}
					@include breakpoint(smallscreen){
						margin-bottom: 0px;
					}
				}
			}
		}

	}

	@include breakpoint(landscape){
		height:310px;
	}
	@include breakpoint(portrait){
		height:400px;
	}

	.footer-logos{
		//padding-top:30px;

		span.logo-title{
			width:100%; display: block;
			color: $orange;
			margin-bottom: 20px;
		}

		img{
			display: inline-block;
			padding: 0 40px 0px 0;
			@include breakpoint(smallscreen){
				padding: 0 10px 0px 0;
			}
			@include breakpoint(landscape){
				padding: 0 10px 20px 0;
			}
			@include breakpoint(portrait){
				padding: 0 10px 20px 0;
			}
		}

	}
}

.footer-bottom{
	width: 100%;
	height: 70px;
	background-color: white;
	.footer-text{
		padding: 20px 0  10px 0;
	}
	.mesh{
 		text-align: right;

		a{
			font-weight: bold;
		}
	}


}

#eb {
	width: 56px;
	float: left;
	margin-top: 10px;
	display: inline;
}

#k {
	width: 75px;
	margin-top: 25px;
	display: inline;
	float: left;
}

//Accessibility
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.input-wrap{
	display:inline-block;
	position:relative;
}

.input-active{
	position:absolute;
	z-index:-1;
	right:0;
	background-color:#eee;
	width:100%;
	bottom:0;
}
